################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LightsOutGame/obj/Release
/.vs
/LightsOutGame/bin/Debug
/LightsOutGame/obj/Debug
/LightsOutGame/bin/Debug
